<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="NuGet official package source" value="https://api.nuget.org/v3/index.json" />
		<add key="Tfg.ADO" value="https://thefoschinigroup.pkgs.visualstudio.com/_packaging/TFG/nuget/v3/index.json" />
		<add key="TFG Nuget" value="http://tfsapp.ho.fosltd.co.za/Tfg.Nuget/Nuget" />
	</packageSources>
	<activePackageSource>
		<add key="All" value="(Aggregate source)" />
	</activePackageSource>
</configuration>